<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 May - 2016 August</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>

          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master's in computer science</div>
               <h4 class="category">Silicon valley University.</h4>
               <ul>
                <li> Maintaining a high grade point average (GPA) <b>3.8 </b>throughout my bachelor's degree is a significant achievement</li>
                    <li>Holding leadership positions in student organizations, clubs, or student government showcases your ability to lead and work in teams.</li>
                    <li>Engaging in undergraduate research projects or assisting professors with their research can be a noteworthy accomplishment.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>  
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2010 - 2014</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>

          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">Jawaharlal Nehru Technological University.</h4>
               <ul>
                <li> IMaintaining a high grade point average (GPA) throughout my bachelor's degree is a significant achievement</li>
                    <li>Holding leadership positions in student organizations, clubs, or student government showcases your ability to lead and work in teams.</li>
                    <li>Engaging in undergraduate research projects or assisting professors with their research can be a noteworthy accomplishment.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2008 - 2010</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">New Generation College.
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of science, mathematics, and Chemistry
                                  </li>
                                  <li>
                                     There was also a good base on physics, mathematics and chemistry.
                                  </li>
                                  <li>
                                      Completed my high school with<b> 70%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2000 - 2008</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Madhu Vidyalayam
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li>
               
                <li>
                    Completed my Secondary school with <b>87%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>